body{
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/*common styles */
/*section title*/
.text-primary{
    color:#FD6E0A ;
}
.section-title{
    color:  #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700; 
}
.btn-primary{
    width: 150px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    color:#FFF;
    font-size: 20px;
    font-weight: 700;
}
/*nav bar start*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: 0px 200px; 
}
.nav-title{
    color: #181818;  
    font-size: 45px;  
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;   
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
/* Navigation Bar Complete*/
/* header section start*/
header{
    width: 1500px;
    height: 737px;
    flex-shrink: 0;
    background: #FFF8F3;
}
.header-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-content{
    
}
.header-image{
    height: 620px;
    width: 500x;
    padding-right: 250px;
}
.mark-image{
    height: 620px;
    width: 500px;
}