body{
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/*common styles */
/*section title*/
.text-primary{
    color:#FD6E0A ;
}
.section-title{
    color:  #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700; 
}
.btn-primary{
    width: 150px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    color:#FFF;
    font-size: 20px;
    font-weight: 700;
}
/*nav bar start*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: 0px 200px; 
}
.nav-title{
    color: #181818;  
    font-size: 45px;  
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;   
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
/* Navigation Bar Complete*/
/* header section start*/
header{
    width: 1600px;
    height: 837px;
    background: #FFF8F3;
    background-image: url('./images/header_bg.png'),url('./images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, bottom left;
     
     
}
.header-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 30px 0px 15px;
}
.header-content{
    align-items: center;
    justify-content: space-around;
    max-width: 500px;
    margin-left: 100px;
    
}
.header-image{
    width: 500px;
     
     
}
.h-section-title{
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    padding-top: 0px;
     margin-top: 0px;
    margin-bottom: 0px;
}
.h-section-description{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    
     display: flex;
     justify-content: space-around;
    margin-top: 5px;
    margin-bottom: 5px;
}
.sub-title{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0px;
    padding-bottom: 20px;
     
}